<div class="alert alert-success" *ngIf="message">{{message}}</div>
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">#ID</th>
    <th scope="col">Full Name</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Gender</th>
    <th scope="col">Age</th>
    <th scope="col">Address</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody *ngIf="students.length != 0">
  <tr  *ngFor="let stus of students">
    <th scope="row">{{stus.id}}</th>
    <td>{{stus.fullName}}</td>
    <td>{{stus.phone}}</td>
    <td>{{stus.gender}}</td>
    <td>{{stus.age}}</td>
    <td>{{stus.address}}</td>
    <td>
      <button class="btn btn-success" routerLink="/control/{{stus.id}}">UpDate</button>
      <button class="btn btn-primary" (click)="removeStudent(stus.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="students?.length == 0" class="alert alert-danger">No Data</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-9" style="padding-left: 30%">
        <ngb-pagination [(page)]="page"
                        [pageSize]="size"
                        [collectionSize]="numElement"
                        (pageChange)="done()">
        </ngb-pagination>
    </div>
  </div>
</div>
<button class="btn btn-danger" routerLink="/control">Add</button>
