<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input  type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
</div>

<div>
  <button class="btn btn-primary"> Log In</button>
</div>
