<form [formGroup]="studentGroub" (ngSubmit)="done()">
  <div formGroupName="student">
    <div *ngIf="invalidFullName" class="alert alert-danger">{{invalidFullName}}</div>
    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input value="{{myStudent.fullName}}" formControlName="userName"  type="text" class="form-control" placeholder="Full Name" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="inv"  *ngIf="userName.invalid && (userName.dirty || userName.touched)">
      <div *ngIf="userName.errors.required || userName.errors.noOnlyWithSpace" class="alert alert-danger error">UserName required</div>
      <div *ngIf="!userName.errors.noOnlyWithSpace && userName.errors.minlength" class="alert alert-danger error">UserName must be more than 5 digts</div>
    </div>


    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="myStudent.age" formControlName="age" type="text" class="form-control" placeholder="Age" aria-label="Password" aria-describedby="addon-wrapping">
    </div>

    <div class="inv"  *ngIf="age.invalid && (age.dirty || age.touched)">
      <div *ngIf="age.errors.required || age.errors.noOnlyWithSpace" class="alert alert-danger error">Age required</div>
      <div *ngIf="!age.errors.noOnlyWithSpace && age.errors.maxlength" class="alert alert-danger error">Age must be more than 2 digts</div>
      <div *ngIf="age.errors.pattern" class="alert alert-danger error">Age must include only number</div>
    </div>

    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="myStudent.address" formControlName="address"  type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="inv"  *ngIf="address.invalid && (address.dirty || address.touched)">
      <div *ngIf="address.errors.required || address.errors.noOnlyWithSpace" class="alert alert-danger error">Address required</div>
    </div>

    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input [value]="myStudent.phone" formControlName="phone" type="text" class="form-control" placeholder="Phone" aria-label="Password" aria-describedby="addon-wrapping">
    </div>

    <div class="inv"  *ngIf="phone.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="phone.errors.required || phone.errors.noOnlyWithSpace" class="alert alert-danger error">Phone required</div>
      <div *ngIf="!phone.errors.noOnlyWithSpace && (phone.errors.maxlength || phone.errors.minlength)" class="alert alert-danger error">Phone must be 11 digts</div>
      <div *ngIf="phone.errors.pattern" class="alert alert-danger error">Phone must include only number</div>
    </div>

    <select [value]="myStudent.gender" formControlName="gender" class="form-select" aria-label="Default select example">
      <option value="MALE">MALE</option>
      <option value="FEMALE">FEMALE</option>
    </select>
  </div>
  <div>
    <button class="btn btn-primary">Done</button>
  </div>
</form>
