<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input  type="text" class="form-control" placeholder="Full Name" aria-label="Username" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" placeholder="Age" aria-label="Password" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input  type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" placeholder="Gender" aria-label="Password" aria-describedby="addon-wrapping">
</div>
<div>
  <button class="btn btn-primary"> Log In</button>
</div>
